@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="inputForm col-lg-6">
            <input type="text" id="message" placeholder="Message">
            <input type="text" id="user" hidden value="@User.Identity.Name">
            <input type="button" id="sendBtn" class="btn btn-primary" value="Send">
        </div>
        <div class="col-lg-4">
            <div class="list-group mx-0 w-auto">
                @foreach (var item in ViewBag.Users)
                {
                    <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0 userCheck" type="checkbox">
                    <input type="text" hidden value="@item.Id">
                    <span>
                        @item.UserName
                    </span>
                </label>
                }
            </div>
        </div>
    </div>
    <div id="chatroom">

    </div>
</div>

    <script src="~/lib/siqnalR/signalr.js"></script>
    <script src="~/lib/siqnalR/signalr.min.js"></script>