@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

    <!--====== Register Part Start ======-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <main class="form-signin w-100 m-auto">
                    <form method="post">
                        <h1 class="h3 mb-3 fw-normal">Please register</h1>
                        <div class="">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label asp-for="Email">Email address</label>
                            <input asp-for="Email" class="form-control" placeholder="name@example.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-item">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="">
                            <label asp-for="RepeatPassword">Repeat Password</label>
                            <input asp-for="RepeatPassword" class="form-control" placeholder="Repeat Password">
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                        <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
                    </form>
                </main>
            </div>
        </div>
    </div>
    
    <!--====== Register Part Ends ======-->